# Node
node_modules/
package-lock.json
yarn.lock

# Eleventy
_site/
netlify/functions/onrequest/**
!netlify/functions/onrequest/index.js
netlify/functions/cached/**
!netlify/functions/cached/index.js

# Local Netlify folder
.netlify
